*{
    margin:0;
    padding:0;
}

.navbar{
    padding:0.5rem;
    background-color: rgb(0, 0, 0);
}

.navbar img.desktop-logo{
    width:25%;
}

.navbar img.mobil-logo{
    display:none;
}

.socialfloat {
    position: fixed;
    left: 0;
    top: 200px;
    z-index: 2000;
    font-size: 1rem;
}

.socialfloat ul {
    list-style: none;
}

.socialfloat ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

.socialfloat ul li a.faceboook {
    padding: 1.2rem;
}

/*.socialfloat ul li a.Wha {
    padding: 1.25rem;
}*/

.socialfloat ul li a.Maail {
    padding: 1.2rem;
}

.socialfloat ul li a.ubi {
    padding: 1.3rem;
}

.socialfloat ul li a.casita {
    padding: 1.12rem;
}

.socialfloat ul li a.yutu {
    padding: 1.12rem;
}

.socialfloat ul li a {
    background: rgba(0, 0, 0, 0.933);
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.socialfloat ul li a.faceboook:hover {
    background: rgba(5, 113, 230, 0.733);
    padding: 2rem;
}

/*.socialfloat ul li a.Wha:hover {
    background: rgba(46, 224, 46, 0.733);
    padding: 2rem;
}*/

.socialfloat ul li a.Maail:hover {
    background: rgba(216, 54, 25, 0.733);
    padding: 2rem;
}

.socialfloat ul li a.casita:hover {
    background: rgba(216, 165, 25, 0.733);
    padding: 2rem;
}

.socialfloat ul li a.ubi:hover {
    background: rgba(211, 228, 219, 0.733);
    padding: 2rem;
}

.socialfloat ul li a.yutu:hover {
    background: rgba(255, 0, 0, 0.733);
    padding: 2rem;
}
.contenedor-index{
    padding: 1.5rem;
}

body{
   font-family: 'Merriweather Sans', sans-serif;
}

footer{
    background: rgba(0, 0, 0, 0.933);
    color: #FBE05E;
}

footer a{
    color: #FBE05E;
}

b.titulo-iglesia{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size:2.5rem;   
   line-height: 1px;
   margin-top:2rem;
   padding-top:2rem;
}

b.subtitlenav{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:1.2rem;
}

b.nav-bar-link{
    color: #FBE05E;
    text-align:right;
}

div.collapse ul{
    text-align:right
}

.col-md-2 a:hover{
    color: white;
    text-decoration:none;
}

.siguenos{
    display:none;
}

@media screen and (max-width:700px) {
    .socialfloat{
        display:none;
    }

    .navbar img.mobil-logo{
        display:initial;
        width:80%;
    }

    .navbar {
        display:flex;
        display:inline-flex;
    }


    .navbar img.desktop-logo{
    display:none;
}
    .siguenos{
    display:contents;
}
}