
@{
    ViewBag.Title = "Care";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="carousel.css" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" />
</head>
<body>
    <br />
    <center>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Content/img/Cuidamosdeti.png" class="d-block w-100" alt="...">
                </div>
       </div>
        </div>
    </center>
    <br />
    
    <!-- Firt Card-->
    <div>
        <class class="container-card">
            <div>
                <!--<h3 class="mb-0">Post title</h3>-->
                <!--<div class="mb-1 text-muted"></div>-->
                <p class="mb-auto"></p>
                <p></p>
                <p>¿Estas luchando contra la depresion?</p>
                <p>¿Has perdido un ser querido?</p>
                <p>¿Estas luchando con una adiccion?</p>
                <p>¿Tienes problemas en tu familia?</p>
                <p>¿Tienes un hijo con necesidades especiales?</p>
            </div>
            <div class="card">
                <figure>
                    <img src="~/Content/img/DINOS COMO.png" />
                </figure>
                <div class="contenido-card">
                    <a href="#" class="stretched-link">Continuar leyendo</a>
                </div>
            </div>
        </class>
    </div>

    <!-- Second Card-->
    <div>
        <class class="container-card">
            <div class="card">
                <figure>
                    <img src="~/Content/img/CUIDO_PASTORAL.png" />
                </figure>
                <div class="contenido-card">
                   <!--<a href="#" class="stretched-link">Continuar leyendo</a>--> 
                </div>
            </div>
            <div>
                <!--<h3 class="mb-0">Post title</h3>-->
                <!--<div class="mb-1 text-muted"></div>-->
                <p class="mb-auto"></p>
                <p></p>
                <h1>CUIDO PASTORAL</h1>
                <p>Telefono: 7210-1734 (Consejeria)</p>
                <p>Telefono: 7210-1734 (Linea de oracion)</p>
                <p>Correo: casadediosinternacionalsv@gmail.com</p>
            </div>
        </class>
    </div>

    <!--Fin de las tarjetas-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

