
@{
    ViewBag.Title = "Crecimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        b.nav-bar-link-C {
            color: #FBE05E;
            text-align: right;
        }
    </style>
    <link href="~/Content/Growth.css" rel="stylesheet" />
</head>

<body>
    <br /><br /><br />
    <div class="blog-card">
        <div class="meta">
            <div class="photo">
                <img src="~/Content/img/pexels-kim-stiver-603473.jpg" />
            </div>
            <ul class="details">
                <li class="author"><a href="#">Nombre</a></li>
                <li class="date">Fecha</li>
                <li class="tags">
                    <ul>
                        <li><a href="#">Etiqueta1</a></li>
                        <li><a href="#">Etiqueta2</a></li>
                        <li><a href="#">Etiqueta3</a></li>
                        <li><a href="#">Etiqueta4</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="description">
            <h1>Titulo</h1>
            <h2>Subtitulo</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
            <p class="read-more">
                <a href="#">Descargar</a>
            </p>
        </div>
    </div>
    <div class="blog-card alt">
        <div class="meta">
            <div class="photo">
                <img src="~/Content/img/pexels-kim-stiver-603473.jpg" />
            </div>
            <ul class="details">
                <li class="author"><a href="#">Nombre</a></li>
                <li class="date">Fecha</li>
                <li class="tags">
                    <ul>
                        <li><a href="#">Etiqueta1</a></li>
                        <li><a href="#">Etiqueta2</a></li>
                        <li><a href="#">Etiqueta3</a></li>
                        <li><a href="#">Etiqueta4</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="description">
            <h1>Titulo</h1>
            <h2>Subtitulo</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
            <p class="read-more">
                <a href="#">Descargar</a>
            </p>
        </div>
    </div>
</body>

