@{
    ViewBag.Title = "Casa de Dios Internacional";
}
<head>
    <style>
        b.nav-bar-link-B {
            color: #FBE05E;
            text-align: right;
        }
    </style>
</head>
<br />
<center>
    <div>
        <a>
            <div id="google_translate_element" class="google"></div>

            <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement(
                {
                  pageLanguage: "es,en",
                  includedLanguages: "en,es",
                  layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                  gaTrack: true,
                },
                "google_translate_element"
                    );
               }
            </script>
            <script type="text/javascript"
                    src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            <head>
                <style>
                    b.nav-bar-link-B {
                        color: black;
                     
                    }

                    .goog-te-gadget-simple {
                        font-size: 20px;
                        border-top: 0px solid;
                        border-left: 0px solid;
                        border-right: 0px solid;
                        border-bottom: 0px solid;
                        background-color: white;
                        text-decoration-color: white;
                    }

                    .goog-te-gadget-icon {
                        height: 1px;
                    }

                    .span{
                        border-left: 0px;
                    }
                </style>
            </head>
        </a>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Content/img/Diapositiva1.PNG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Content/img/Diapositiva2.PNG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Content/img/Diapositiva3.PNG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Content/img/Diapositiva4.PNG" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</center>
<br />
<br />
<section class="contenedor sobre-nosotros">
    <a name="Historia"></a>
    <h1 class="titulo">¿Quiénes Somos?</h1>
    <div class="contenedor-sobre-nosotros">
        <div class="contenido-textos">
            <p>
                En el año de 2006, con un grupo de 4 jóvenes y 2 niños liderados por nuestro pastor David Segovia, graduado de un seminario bautista se inicio nuestra congregación, con el único objetivo de predicar el evangelio bíblico y que cada creyente conociera a Jesús de una forma personal y sea transformada por el poder del Espíritu Santo, actualmente somos una congregación en de 100 personas entre jóvenes , adultos y niños, y tenemos el enfoque de crecer en el conocimiento de la palabra de Dios, la adoración a través de la obediencia al Señor y el cuido espiritual del rebaño del Señor.
            </p>
        </div>
    </div>
</section>
<section class="misionvision">
    <div class="caards">
        <div class="caard">
            <div class="contenido-texto-caard">
                <center>
                    <h3>Misión</h3>
                </center>
                <p>
                    A través del poder del Espíritu Santo llevar el mensaje de la palabra de Dios a todos los estratos sociales, para que estos le conozcan, le amen y le adoren por sobre todas las cosas.
                </p>
            </div>
        </div>
        <div class="caard">
            <div class="contenido-texto-caard">
                <center>
                    <h3>Visión</h3>
                </center>
                <p>
                    Llevar a las naciones a los pies de nuestro Señor Jesucristo, creando una nueva generación de adoradores en espíritu y verdad con corazón sincero y con una fe completamente segura.
                
                </p>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<div class="row">
    <div class="col col col">
        <div class="autocard">
            <div class="autocardcontainer">
                <a name="Historia"></a>
                <h1>Biografía</h1>
                <div class="contenedor-sobre-nosotros">
                    <div class="contenido-textos">
                        <p>
                            <span class="imagen">
                                <img src="~/Content/img/108205147_602784134000447_5158800697711434897_o (1).jpg" class="Fotopastor" />
                            </span>
                            <br />
                            Nació en San Salvador el 22 de octubre de 1981, siendo el segundo de tres hijos, conoció al Señor a sus 16 años el 8 de marzo de 1998 en un culto dominical del Tabernáculo Bíblico Bautista de san Salvador, en ese mismo año comenzó a servir como maestro de escuela bíblica y a evangelizar en el ministerio de la iglesia llamado Valientes de David, Al año siguiente fue invitado por unos amigos para ir al departamento de Ahuachapán para ayudar a un Pastor misionero que estaba estableciendo una filial del Tabernáculo en Ahuachapán
                        </p>
                        <span id="ReadMore">
                            <p>
                                como un joven lleno de muchos sueños y energía decidió acompañarlos, al llegar a esta misión su corazón fue conquistado por el ministerio y decide ingresar al seminario en junio del año 2000, graduándose en el año 2004, después de haber desarrollado muchos ministerios en Ahuachapán y haber llevado la palabra de Dios a muchos lugares decide junto con 3 amigos y su hermano menor y sus sobrinos iniciar en el año 2006 una nueva congregación a la que llamarían Casa de Dios Internacional, en ese mismo año comenzó a dar clases de Teología durante 2 años del 2006 al 2008 en el seminario bautista: Colegio Bautista de Teología de El Salvador, en el año 2008 ingresa a trabajar en Asociación Agua Viva y Samaritan´s Purse Canada, visitando comunidades que no poseen agua limpia proveyendo de filtros para purificar el agua y evangelizando y discipulando todas esta comunidades hasta la fecha. En el año 2010 también ingresa como pastor voluntario al ministerio Joni and Friends/Fundación Venciendo Barreras, un ministerio dedicado a ministrar a las familias que viven diariamente las dificultades de la discapacidad, enseñando a comprender la discapacidad desde una perspectiva bíblica y presentando el evangelio a todas sus familias, hasta la fecha. Es también voluntario del ministerio Hanna´s Hand´s, ministerio estadounidense dedicado en nuestro país al cuidado médico de los más desprotegidos y con un ministerio de enseñanza a niños en comunidades donde la sana doctrina debe ser enseñada, también colabora con el ministerio Youth for Christ, un ministerio canadiense dedicado al evangelismo de la juventud, este ministerio recién comienza a desarrollar su ministerio en nuestro país. Es así como a lo largo de su carrera ministerial ha desarrollado un profundo amor por su Señor y Salvador Jesucristo y por su hermosa creación La Humanidad.
                            </p>
                        </span>
                        <a id="buttonShow"> Ver Mas...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="contenedor">
    <a name="Portafolio"></a>
    <h1 class="titulo">¿Qué hacemos?</h1>
    <div class="galeria-port">
        <div class="imagen-port">
            <a class="thickbox" href="img/port1.jpg" target="_blank">
                <img src="~/Content/img/insp-cuadradas-2.jpg" />
                <div class="hover-galeria">
                    <p><b>El título acá</b></p>
                </div>
            </a>
        </div>
        <div class="imagen-port">
            <a class="thickbox" href="img/port1.jpg" target="_blank">
                <img src="~/Content/img/insp-cuadradas-2.jpg" />
                <div class="hover-galeria">
                    <p><b>El título acá</b></p>
                </div>
            </a>
        </div>
        <div class="imagen-port">
            <a class="thickbox" href="img/port1.jpg" target="_blank">
                <img src="~/Content/img/insp-cuadradas-2.jpg" />
                <div class="hover-galeria">
                    <p><b>El título acá</b></p>
                </div>
            </a>
        </div>
        <div class="imagen-port">
            <a class="thickbox" href="img/port1.jpg" target="_blank">
                <img src="~/Content/img/insp-cuadradas-2.jpg" />
                <div class="hover-galeria">
                    <p><b>El título acá</b></p>
                </div>
            </a>
        </div>
        <div class="imagen-port">
            <a class="thickbox" href="img/port1.jpg" target="_blank">
                <img src="~/Content/img/insp-cuadradas-2.jpg" />
                <div class="hover-galeria">
                    <p><b>El título acá</b></p>
                </div>
            </a>
        </div>
        <div class="imagen-port">
            <a class="thickbox" href="img/port1.jpg" target="_blank">
                <img src="~/Content/img/insp-cuadradas-2.jpg" />
                <div class="hover-galeria">
                    <p><b>El título acá</b></p>
                </div>
            </a>
        </div>
    </div>
</div>
<section class="testimonio">
    <h1 class="titulo">Testimonios</h1>
    <center>
        <div class="tvideo">
            <iframe width="80%" height="600" src="https://www.youtube.com/embed/pjiuersEk7I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </center>
</section>

<div>
    <!--   CARDS-->
    <div class="title-cards">
        <h1 class="titulo">Horarios</h1>
    </div>

    <!-- Firt Card-->
    <div class="container-card">
        <div class="card">
            <figure>
                <img src="~/Content/img/Lunes.png" />
            </figure>
            <div class="contenido-card">
                <h3>Opcional</h3>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>

        <!-- Second Card-->
        <div class="card">
            <figure>
                <img src="~/Content/img/Martes.png" />
            </figure>
            <div class="contenido-card" >
                <h3>Opcional</h3>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>            
            </div>
        </div>

        <!-- Third Card-->
        <div class="card">
            <figure>       
                <img src="~/Content/img/Miercoles.png" />
            </figure>
            <div class="contenido-card">
                <h3>Opcional</h3>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>       
            </div>
        </div>
    </div>

    <!-- Seconds Section Cards-->

        <!-- Quarter Card-->
        <div class="container-card">
            <div class="card">
                <figure>
                    <img src="~/Content/img/Jueves.png" />
                </figure>
                <div class="contenido-card">
                    <h3>Opcional</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>

            <!-- Fifth  Card-->
            <div class="card">
                <figure>
                    <img src="~/Content/img/Viernes.png" />
                </figure>
                <div class="contenido-card">
                    <h3>Opcional</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>        
                </div>
            </div>

            <!-- Sixth Card-->
            <div class="card">
                <figure>
                    <img src="~/Content/img/Sabado.png" />
                </figure>
                <div class="contenido-card">
                    <h3>Opcional</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>

            <!-- Seventh Card-->
            <div class="card">
                <figure>
                    <img src="~/Content/img/Domingo.png" />
                </figure>
                <div class="contenido-card">
                    <h3>Opcional</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
</div>
<!--Fin   Tarjetas-->

@section Scripts{

    <script>

        $(document).ready(function () {

            var i = 0;
            $("#ReadMore").hide();
            var element = $("#ReadMore");

            $("#buttonShow").on('click', function (e) {
                
                if (!i) {
                    i = 1;
                    element.show('slow');
                    $('#buttonShow').text("Ver Menos")
                } else {
                    i = 0;
                    element.hide('slow');
                    $('#buttonShow').text("Ver Mas...")
                }

            });

        });

    </script>

}
