@{
    ViewBag.Title = "Casa de Dios Internacional";
}



    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <br /><br /><br /><br />
            <h1>CONTENIDO DE LA PAGINA</h1>
            <br /><br /><br /><br />
        </div>
        <div class="col-md-3">
        </div>
    </div>

@section Scripts{
    
@*<script>
    Swal.fire('Good job!', 'SweetAlert2 is On Fire!', 'success');
</script>*@

    }