@model CDIWebSite.Models.MinisterioVM
<head>
    <link href="~/Content/Ministerio.css" rel="stylesheet" />
</head>
        <h2 style="text-align:center">
            Lorem ipsum dolor sit amets
        </h2>
        <div class="Carrusel">
            <center>
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/Content/img/bootstrap-carousel.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Content/img/ejemplos-slider-de-imagenes-basados-twitter-bootstrap-SimpleBootstrapCarouselWithTextAndOverlay.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Content/img/bootstrap-carousel.png" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </center>
        </div>
        <div class="Lider">
            <h4 style="text-align:center">
                Lorem ipsum dolor sit amets
            </h4>
            <p>
                <img src="~/Content/img/1486564400-account_81513.png" />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mollis, justo ut dictum ultricies, dolor arcu interdum velit, in suscipit neque diam non metus. Nunc non urna ac arcu fermentum sodales. Aliquam felis augue, facilisis id nisi sed, rhoncus facilisis nunc. Fusce nec sollicitudin neque. Morbi tincidunt a augue eget mattis. Aliquam ex mi, congue nec velit sed, venenatis ullamcorper neque. Nulla sagittis viverra dolor a facilisis. Vestibulum in felis felis. Proin blandit sem vitae faucibus ornare. Nulla aliquam sapien sit amet neque suscipit, ac hendrerit lacus ultricies. Nullam nec luctus mauris, ut maximus purus. Maecenas et bibendum nunc. Duis aliquam et ligula id posuere.
                Morbi tempus, erat vitae ultricies semper, elit dolor dictum nibh, vitae ultrices orci magna at risus. Duis ut ultrices orci. Suspendisse eleifend feugiat elementum. Nunc justo felis, suscipit quis libero et, mollis placerat risus. Aenean sagittis enim arcu, elementum aliquam eros tincidunt a. Maecenas molestie odio sit amet scelerisque scelerisque. Mauris eu purus non lectus tristique dapibus.
                Sed convallis justo augue, ut mattis diam lobortis eget. Vestibulum vel purus et augue iaculis laoreet. In iaculis nec nisi eu viverra. Curabitur porttitor vehicula laoreet. Vivamus non nunc at purus consequat mollis. Mauris nec dui non lacus tincidunt egestas vel ut ex. Aenean a leo enim.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mollis, justo ut dictum ultricies, dolor arcu interdum velit, in suscipit neque diam non metus. Nunc non urna ac arcu fermentum sodales. Aliquam felis augue, facilisis id nisi sed, rhoncus facilisis nunc. Fusce nec sollicitudin neque. Morbi tincidunt a augue eget mattis. Aliquam ex mi, congue nec velit sed, venenatis ullamcorper neque. Nulla sagittis viverra dolor a facilisis. Vestibulum in felis felis. Proin blandit sem vitae faucibus ornare. Nulla aliquam sapien sit amet neque suscipit, ac hendrerit lacus ultricies. Nullam nec luctus mauris, ut maximus purus. Maecenas et bibendum nunc. Duis aliquam et ligula id posuere.
                Morbi
            </p>
        </div>
        <div class="descripcion">
            <div class="card-deck">
                <div class="card">
                    <div class="imguser">
                        <img src="~/Content/img/1486564400-account_81513.png" class="imagend" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <div class="imguser">
                        <img src="~/Content/img/1486564400-account_81513.png" class="imagend" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <div class="imguser">
                        <img src="~/Content/img/1486564400-account_81513.png" class="imagend" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    <div class="Texto" style="text-align:justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mollis, justo ut dictum ultricies, dolor arcu interdum velit, in suscipit neque diam non metus. Nunc non urna ac arcu fermentum sodales. Aliquam felis augue, facilisis id nisi sed, rhoncus facilisis nunc. Fusce nec sollicitudin neque. Morbi tincidunt a augue eget mattis. Aliquam ex mi, congue nec velit sed, venenatis ullamcorper neque. Nulla sagittis viverra dolor a facilisis. Vestibulum in felis felis. Proin blandit sem vitae faucibus ornare. Nulla aliquam sapien sit amet neque suscipit, ac hendrerit lacus ultricies. Nullam nec luctus mauris, ut maximus purus. Maecenas et bibendum nunc. Duis aliquam et ligula id posuere.

        Morbi tempus, erat vitae ultricies semper, elit dolor dictum nibh, vitae ultrices orci magna at risus. Duis ut ultrices orci. Suspendisse eleifend feugiat elementum. Nunc justo felis, suscipit quis libero et, mollis placerat risus. Aenean sagittis enim arcu, elementum aliquam eros tincidunt a. Maecenas molestie odio sit amet scelerisque scelerisque. Mauris eu purus non lectus tristique dapibus.

        Sed convallis justo augue, ut mattis diam lobortis eget. Vestibulum vel purus et augue iaculis laoreet. In iaculis nec nisi eu viverra. Curabitur porttitor vehicula laoreet. Vivamus non nunc at purus consequat mollis. Mauris nec dui non lacus tincidunt egestas vel ut ex. Aenean a leo enim.
        <img src="~/Content/img/1486564400-account_81513.png" style="float:left"/>
        Integer sollicitudin congue dolor, in cursus mi porttitor sit amet. Donec vulputate justo ac vestibulum placerat. Nam non placerat nulla. In ullamcorper porta ante, vel sollicitudin est iaculis id. Cras ac metus congue, aliquam neque et, malesuada nulla. Sed at accumsan quam. Nunc tristique dapibus arcu, eu tempor eros. Nam pulvinar arcu a condimentum lobortis. Pellentesque non tempus purus. Nam venenatis, turpis sed consequat ornare, tortor turpis placerat elit, sed iaculis justo mauris vel odio. Nunc nulla ante, egestas congue cursus sit amet, luctus at eros.

        Suspendisse potenti. Donec sagittis at nulla vitae suscipit. Aenean efficitur rhoncus orci id sagittis. In mauris ex, posuere sit amet lectus at, bibendum egestas elit. Suspendisse tempus ligula a metus faucibus, sit amet porttitor dolor pharetra. Aliquam interdum eu nisi et tempor. Quisque tincidunt efficitur lacinia. Etiam quis imperdiet eros. Aliquam erat volutpat. Ut dolor odio, sodales quis laoreet scelerisque, consequat a mauris. In hac habitasse platea dictumst.
        <img src="~/Content/img/1486564400-account_81513.png" style="float:right" />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mollis, justo ut dictum ultricies, dolor arcu interdum velit, in suscipit neque diam non metus. Nunc non urna ac arcu fermentum sodales. Aliquam felis augue, facilisis id nisi sed, rhoncus facilisis nunc. Fusce nec sollicitudin neque. Morbi tincidunt a augue eget mattis. Aliquam ex mi, congue nec velit sed, venenatis ullamcorper neque. Nulla sagittis viverra dolor a facilisis. Vestibulum in felis felis. Proin blandit sem vitae faucibus ornare. Nulla aliquam sapien sit amet neque suscipit, ac hendrerit lacus ultricies. Nullam nec luctus mauris, ut maximus purus. Maecenas et bibendum nunc. Duis aliquam et ligula id posuere.

        Morbi tempus, erat vitae ultricies semper, elit dolor dictum nibh, vitae ultrices orci magna at risus. Duis ut ultrices orci. Suspendisse eleifend feugiat elementum. Nunc justo felis, suscipit quis libero et, mollis placerat risus. Aenean sagittis enim arcu, elementum aliquam eros tincidunt a. Maecenas molestie odio sit amet scelerisque scelerisque. Mauris eu purus non lectus tristique dapibus.
        
        Sed convallis justo augue, ut mattis diam lobortis eget. Vestibulum vel purus et augue iaculis laoreet. In iaculis nec nisi eu viverra. Curabitur porttitor vehicula laoreet. Vivamus non nunc at purus consequat mollis. Mauris nec dui non lacus tincidunt egestas vel ut ex. Aenean a leo enim.
        <img src="~/Content/img/1486564400-account_81513.png" style="float:left" />
        Integer sollicitudin congue dolor, in cursus mi porttitor sit amet. Donec vulputate justo ac vestibulum placerat. Nam non placerat nulla. In ullamcorper porta ante, vel sollicitudin est iaculis id. Cras ac metus congue, aliquam neque et, malesuada nulla. Sed at accumsan quam. Nunc tristique dapibus arcu, eu tempor eros. Nam pulvinar arcu a condimentum lobortis. Pellentesque non tempus purus. Nam venenatis, turpis sed consequat ornare, tortor turpis placerat elit, sed iaculis justo mauris vel odio. Nunc nulla ante, egestas congue cursus sit amet, luctus at eros.
        
        Suspendisse potenti. Donec sagittis at nulla vitae suscipit. Aenean efficitur rhoncus orci id sagittis. In mauris ex, posuere sit amet lectus at, bibendum egestas elit. Suspendisse tempus ligula a metus faucibus, sit amet porttitor dolor pharetra. Aliquam interdum eu nisi et tempor. Quisque tincidunt efficitur lacinia. Etiam quis imperdiet eros. Aliquam erat volutpat. Ut dolor odio, sodales quis laoreet scelerisque, consequat a mauris. In hac habitasse platea dictumst.
    </div>